SECRET_KEY='django-insecure-$nym9i&u#%n=zi#7uz+5r28o62gek*x$#ox2njxf2))wtfo8n7'
DEBUG=True
DB_NAME=wisewaxb_skillconnect
DB_USER=wisewaxb_skillconnectusr
DB_PASSWORD=Sk1llC0nn3ct!2025
DB_HOST=localhost
DB_PORT=3306